.option-filter{
    border: solid 1px #e4e6ec;
    width: 250px;
    font-size: 14px;
}

.option-filter .option-title{
    background-color: #f2f4fa;
    padding: 12px 15px;
    font-weight: bold;
    cursor: pointer;
}

.option-filter .option-title p {
    display: flex;
}

.option-filter .option-title p::after{
    content: '';
    width: 30px;
    height: 20px;
    margin-left: auto;
    background-image: url(./icon-filter-close.png);
    background-position: center;
}

.option-filter .option-label{
    padding: 12px;
}
.option-filter .option-label.off{
    display: none;
}

.option-filter label{
    padding: 5px 0;
    display: flex;
    gap: 5px;
}