.search-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border: solid 1px blue;
    background-color: rgba(0, 0, 0, .2);
    z-index: 100;
}

.search-modal .detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #dee4f9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}

.search-modal .detail .description{
    width: 500px;
    padding: 15px;
}

.search-modal .detail .title{
    height: 50px;
    border-bottom: 1px solid #f3f3f3;
}

.search-modal .detail .description h2{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.search-modal .detail .description h2 span{
    color: #5172df;
    font-size: 13px;
    border: solid 1px #5172df;
    padding: 3px;
}

.search-modal .description .info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-modal .description .info .img-box{
    margin-right: 5px;
    float: left;
    width: 16px;
    height: 13px;
}
.search-modal .description .info .img-box img{
    width: 100%;
    height: 100%;
}

.search-modal .description .info p{
    padding-left: 22px;
    font-size: 14px;
    font-weight: 600;
}

.search-modal .description .info p span{
    font-size: 12.6px;
    display: inline-block;
    width: 90px;
    font-weight: 400;
}

.search-modal .description .one-data{
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
}
.search-modal .description .one-data h4{
    width: 112px;
}
.search-modal .description .one-data span{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

