.ed-box-type{
    background-color: #fff;
}

.ed-box-type .type1{
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 100%;
}

/* ed 헤더 */
.ed-box-type .type1 h1{
    display: flex;
    font-size: 22px;
    align-items: center;
    padding-bottom: 15px;
}
.ed-box-type .type1 h1 span{
    position: relative;
    margin-left: auto;
    width: 25px;
    height: 25px;
}
.ed-box-type .type1 h1 span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ed-box-type .type1 .cal{
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid grey;
    min-height: 250px;
    height: 100%;
}
/* 헤드 부분 */
.ed-box-type .type1 .head{
    display: flex;
    height: 15%;
    background-color: #5172df;
    color: #fff;
    font-size: 24px;
    align-items: center;
}
.ed-box-type .type1 .head button{
    max-width: 80px;
}
.ed-box-type .type1 .head button span{
    font-size: 32px;
}
.ed-box-type .type1 .head button,
.ed-box-type .type1 .head p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ed-box-type .type1 .event{
    height: 85%;
    overflow: scroll;
}

.ed-box-type .type1 .event p{
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 10px;
    border-bottom: 1px dotted #5172df;
}

.ed-box-type .type1 .event p span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #5172df;
    background-color: #5172df;
    color: #fff;
    padding: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 13px;
}

/* 타입 2 */
.ed-box-type.small{
    width: fit-content;
    align-items: center;
}

.ed-box-type .type2{
    width: 224px;
}

.ed-box-type .type2 .title{
    position: relative;
}

.ed-box-type .type2 .title img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.ed-box-type .type2 .event{
    padding-top: 15px;
}
.ed-box-type .type2 .event p{
    padding-bottom: 10px;
}
.ed-box-type .type2 .event span{
    background-color: #e5e5e5;
    padding: 5px;
    border-radius: 12px;
    font-size: 13px;
    margin-right: 10px;
}