.notice-box{
    background-color: #fff;
}

.notice-box .notice-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.notice-box .notice-title .img-box{
    margin-left: auto;
    width: 25px;
    height: 25px;
}
.notice-box .notice-title .img-box img{
    width: 100%;
    height: 100%;
}


.notice-box .notice-menu{
    font-size: 16px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.notice-box .notice-menu p{
    display: flex;
    border-bottom: 1px dotted grey;
    padding: 15px 0;
}

.notice-box .notice-menu p:nth-last-child(1){
    border-bottom: none;
}

.notice-box .notice-menu p span{
    color: #777777;
    margin-left: auto;
}
