.admin-page{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    'l h h h h'
    'l c c c c'
    'l c c c c'
    'l c c c c';
    /* grid-template-columns: 300px 1fr; */
    grid-template-rows: 50px 1fr;
    transition: .4s;
}
.admin-page .l{
    grid-area: l;
    background-color: #edf1fe;
}
.admin-page .h{
    grid-area: h;
    width: 100%;
}
.admin-page .c{
    grid-area: c;
}

/* 헤더바 파트 */
.admin-page .header-bar{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #fff;
}
.admin-page .header-bar ul{
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}
.admin-page .header-bar ul button{
    background-color: #5172df;
    border: 1px solid #004898;
    padding: 5px 15px;
    color: white;
}
.admin-page .header-bar ul button:hover{
    background-color: #004898;
}
.admin-page .header-bar ul button.out{
    background-color: #bbb;
    border: 1px solid #ddd;
}
.admin-page .header-bar ul button.out:hover{
    background-color: #696969;
}

/* 옵션 수정 부분 */
.admin-page .option-part{
    height: auto;
    border: solid 1px #ddd;
    background-color: #f0f0f0;
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: 50% 50%;
}

.admin-page .option-part .part{
    background-color: #fff;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 5px 10px;
    gap: 10px;
}

.admin-page .option-part .preview-part p{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
}
/* 버튼부분 */
.admin-page .option-part .option-btn-box{
    display: flex;
    border-bottom: 1px solid #ddd;
    overflow: scroll;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.option-btn-box::-webkit-scrollbar {
    display: none;
}
.option-btn-box{
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.admin-page .option-part .option-btn-box .option-btn{
    background-color: #fff;
    min-width: 130px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
}
.admin-page .option-part .option-btn .tab-btn{
    font-size: 14px;
    width: 90%;
    padding: 5px;
}
.admin-page .option-part .option-btn .close-btn{
    padding: 5px;
    margin-left: auto;
}
.admin-page .option-part .option-btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    font-size: 13px;
}
.admin-page .option-part .option-btn .close-btn:hover span{
    background-color: #9f9f9f;
    border: 1px solid #bbb;
    color: #fff;
}
.admin-page .option-part .option-btn.active{
    color: #004898;
    border: 1px solid #004898;
    font-weight: 600;
}
