.preview-page{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'n'
    'b'
    'c';
    grid-template-rows: 60px 200px 1fr ;
    background-color: #fff;
    border: solid 1px #acacac;
    text-align: center;
    position: relative;
}

/* 공통 옵션 */
.preview-page .nav{
    grid-area: n;
}
.preview-page .bg{
    grid-area: b;
}
.preview-page .content{
    grid-area: c;
}

.preview-page .default-option:not(:nth-child(2)){
    border-top: 1px solid #acacac;
}

.preview-page button{
    border: solid 1px #acacac;
    padding: 5px 10px;
}

.preview-page .nav-bar{
    display: flex;
    height: 60px;
    gap: 5px;
    align-items: center;
}

/* 컨테이너 뷰어 */
.preview-page .container-grid-viewer{
    border-left: dashed 1px #5172df;
    border-right: dashed 1px #5172df;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}
.preview-page .container-grid-viewer.hide{
    display: none;
}

.preview-page .nav-bar .logo{
    width: 100px;
    max-height: 30px;
}

/* 이미지 크기 박스안에 고정 */
.preview-page .clear{
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}
.preview-page .img-box{
    width: 100%;
    height: 100%;
}
.preview-page .img-box img{
    width: 100%;
    height: 100%;
}

.preview-page .nav-bar .navigation{
    width: calc(100% - 100px);
}
.preview-page .nav-bar .navigation ul{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.preview-page .nav-bar,
.preview-page .bg,
.preview-page .content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.preview-page .content{
    max-height: fit-content;
}

.preview-page .active{
    border: 2px solid #5172df !important;
}

.preview-page .content-box{
    position: relative;
    display: grid;
}

.preview-page .content-box .grid-line{
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: dotted 1px grey;
    width: 100%;
    height: 100%;
}
.preview-page .content-box .grid-line .grid-img-box{
    width: 100%;
}

.preview-page .content-box .grid-line img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.preview-page .content-box button{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}