.logo-edit .upload{
    border: solid 1px #696969;
    background-color: #f7f7f7;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: space-between;
}
.logo-edit .upload p{
    padding-bottom: 10px;
}
.logo-edit .upload p span{
    font-size: 13px;
}

.logo-edit .upload > div:nth-child(1){
    min-width: 200px;
}

.logo-edit .upload .logo-box{
    margin-top: 10px;
    box-sizing: content-box;
    border: solid 1px #696969;
    padding: 2px;
    width: 130px;
    height: 40px;
}
.logo-edit .upload .logo-box img{
    width: 100%;
    height: 100%;
}

.logo-edit .upload input{
    width: 40px;
    margin-right: 3px;
}

.logo-edit .upload .switch-box{
    display: flex;
    /* justify-content: space-evenly; */
}

.logo-edit .upload .switch-box > div{
    width: 50%;
}

.logo-edit .upload button{
    border: solid 1px #696969;
    padding: 2px 4px;
    font-size: 12px;
    background-color: #fff;
}
.logo-edit .upload button:nth-child(1 of button){
    margin-right: 8px;
}