.platform{
    /* min-height: 80vh; */
}

.first-login{
    width: 100%;
    height: 80vh;
    font-size: 24px;
    position: relative;
}
.first-login button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: solid 1px #5172df;
}

.kinder-page{

}

.kinder-page nav{
    display: flex;
    border: solid 1px red;
}

.kinder-page nav .logo{
    width: 100px;
    height: 100px;
}
.kinder-page nav .logo img{
    border: solid 1px red;
    width: 100%;
    height: 100%;
}

.kinder-page nav ul{
    display: flex;
}
.kinder-page nav ul li{

}