
.kinder-page{
    min-height: 80vh;
}
.kinder-page .nav-bar{
    display: flex;
    height: fit-content;
}

.kinder-page .nav-bar .logo{
    width: 100px;
    height: 100px;
}
.kinder-page .nav-bar .logo img{
    width: 100%;
    height: 100%;
}
.kinder-page .navigation{
    min-width: 400px;
}

.kinder-page .navigation ul{
    display: flex;
}

.kinder-page nav ul li{

}