/* arrow icon */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.allergy-table{
    user-select: none;
    background-color: #fff;
    border: solid 1px #5172df;
    z-index: 100;
    transition: .6s;
}

/* 상단 */
.allergy-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}
.allergy-header .btn-box{
    margin-left: auto;
    display: flex;
    gap: 5px;
    padding-right: 10px;
}
.allergy-header .btn-box button:nth-child(1) span{
    background-image: url('./free-icon-edit-button.png');
    background-position: center;
    background-size: cover;
    display: block;
    width: 32px;
    height: 32px;
    transition: .2s;
}
.allergy-header .btn-box button:nth-child(1) span:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 #5172df);
    scale: 1.1;
}
.allergy-header .btn-box button:nth-child(2){
    border: solid 1px grey;
    padding: 5px 10px;
}
.allergy-header h2{
    padding: 10px;
}

.allergy-list{
    height: calc(100vh - 50px);
    overflow: scroll;
}
.allergy-list.resizing{
    height: calc(100vh - 100px);
}

/* 알러지 1개 아이템 */
.allergy-item{
    border-bottom: 1px dotted grey;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
}

.allergy-item.active{
    background-color: rgba(49, 65, 202, 0.5);
}

.allergy-item p{
    width: fit-content;
}
.allergy-item p span{
    font-size: 13px;
}

.allergy-item .meterial-icons{
    display: none;
    flex-direction: column;
    position: relative;
    right: 5px;
    height: fit-content;
}

.allergy-item .meterial-icons.on{
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    gap: 5px;
}
.allergy-item .meterial-icons span{
    font-size: 30px;
    height: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.allergy-item .meterial-icons span:hover{
    scale: 1.3;
}

.allergy-item .delete-btn{
    margin-left: auto;
    border: solid 1px grey;
    display: none;
}

.allergy-item .delete-btn.on{
    display: block;
}


/* 리모컨 */
.remote-allergy{
    border-bottom: dotted 1px grey;
    padding: 10px;
    height: 50px;
    background-color: #fff;
    display: none;
}

.remote-allergy.on{
    display: flex;
    gap: 5px;
}

.remote-allergy input{
    padding: 5px;
}

.remote-allergy button{
    border: solid 1px grey;
    padding: 5px 10px;
}