header{
    width: 100%;
    height: 60px;
}
header.small{
    width: 100%;
    height: 40px;
    border-bottom: #5172df;
    transition: .3s;
}
header.small:hover{
    height: 60px;
}
header.small nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.small:hover nav .depth1,
header.small:hover nav .user-nav{
    display: flex;
}

header.small nav .depth1{
    display: none;
}
header.small nav .user-nav{
    display: none;
}
header.small nav .logo{
    display: block;
    width: 100px;
    height: 40px;
}

header nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #fff;
    z-index: 20;
    border-bottom: #5172df;
    font-weight: bold;
}

header nav .logo{
    width: 130px;
    display: flex;
    align-items: flex-end;
}
HEADER NAV .logo img{
    width: 100%;
    height: 100%;
}

header nav .depth1{
    flex: 1;
}

header nav .depth1,
header nav .user-nav{
    display: flex;
    gap: 15px;
    justify-content: center;
}

header nav .user-nav{
    margin-left: auto;
}

header nav .depth1{
    height: 100%;
}

header nav .depth1 > li{
    position: relative;
    height: 100%;
}

header nav .depth1 > li > a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

header nav .depth1 > li:hover > a{
    font-weight: bold;
    color: #5172df;
    cursor: pointer;
}

header nav .depth1 > li .depth2{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: fit-content;
    background-color: #fff;
    border: solid 1px #5172df;
}

header nav .depth1 > li:hover .depth2{
    display: block;
}

header nav .depth1 > li .depth2 li a{
    display: block;
    min-width: 110px;
    height: 100%;
    padding: 10px;
    border-bottom: 1px solid#5172df;
}
header nav .depth1 > li .depth2 li:nth-last-child(1) a{
    border-bottom: none;
}

header nav .depth1 > li .depth2 li:hover a{
    background-color: #004898;
    color: #fff;
}


/* 관리자페이지 인풋 모달 */
.input-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .2));
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.input-modal{
    background-color: #fff;
    padding: 20px 30px;
    min-width: 300px;
    min-height: 200px;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-modal .description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-modal p{
    font-size: 16px;
}
.input-modal span{
    font-size: 14px;
}
.input-modal span.red{
    color: red;
}


.input-modal .input-box{
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.input-modal .input-box input{
    min-width: 50%;
}
.input-modal .input-box button{
    padding: 5px 10px;
    background-color:#004898;
    color: #fff;
    text-align: center;
}