@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}

a{
    all: unset;
    cursor: pointer;
}

button{
    all: unset;
    cursor: pointer;
}