.Calendar{
    text-align: center;
}

/* 전체 폼 그리드 옵션 */

.blank{
    background-color: rgba(0, 0, 0, 0.2);
}

.cell{
    min-height: 20px;
}
.no-side{
    min-height: 50px;
}


/* 타이틀 */
.Calendar .table .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.Calendar .table .title button{
    border: solid 1px grey;
}

.Calendar .table main .week .day.blank{
    background-color: rgba(0, 0, 0, 0.2);
}

/* 메뉴 */
.Calendar .table main .week .day:not(.blank) .option{
    min-height: 100px;
}

.Calendar .side-option .option-box,
.Calendar .table main .day{
    display: grid;
    box-sizing: border-box;
}

.Calendar .table main .day{
    display: flex;
    flex-direction: column;
    flex-flow:column;
}

.Calendar .table main .day .option{
    width: 100%;
    min-height: 10px;
}


.Calendar .option{
    min-height: 100px;
}